<div class="container">
  <div style="height: 20px"></div>
  <h1>Корты</h1>

  <div class="row">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Фильтровать по занятости</mat-label>
      <mat-select (selectionChange)="filterChanged()" [(ngModel)]="filter.busyType">
        <mat-option
          *ngFor="let courtType of busyTypes"
          [value]="courtType.value"
        >
          {{ courtType.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Тип корта</mat-label>
      <mat-select (selectionChange)="courtTypeChanged()" [(ngModel)]="filter.courtType">
        <mat-option
          *ngFor="let courtType of courtTypes"
          [value]="courtType.value"
        >
          {{ courtType.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Номер корта</mat-label>
      <mat-select (selectionChange)="filterChanged()" [(ngModel)]="filter.court">
        <mat-option
          *ngFor="let courtNumber of courtNumbers"
          [value]="courtNumber.court"
        >
          {{ courtNumber.option.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div style="height: 20px;">

  </div>

  <div class="row">
    <div class="col">
      <div class="text-start">
        <mat-slider
            [(ngModel)]="filter.hoursFrom"
            thumbLabel
            (input)="sliderChanged($event)"
            (change)="filterChanged()"
            class="cdk-focused"
            [displayWith]="formatLabel"
            [max]="22"
            [min]="6"
            [step]="1"
            [vertical]="false"
            [thumbLabel]="true"
            aria-labelledby="example-name-label">
        </mat-slider>
      </div>
    </div>
    <div class="col">
      <div class="text-end">
        <mat-button-toggle-group (change)="dayChanged()" [(ngModel)]="filter.dayShift" aria-label="Font Style">
          <mat-button-toggle *ngFor="let item of days" value="{{item.value}}">{{item.viewValue}}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>

  
  <app-court-table [dataSource]="dataSource"></app-court-table>
</div>